#* @vtlvariable name="transaction" type="org.jooq.generated.tables.pojos.ClearingTransaction" *#
#* @vtlvariable name="merchant" type="org.jooq.generated.tables.pojos.Merchant" *#
#* @vtlvariable name="cardData" type="com.rbkmoney.midgard.clearing.data.CardData" *#
<Transaction>
    <ApprCode></ApprCode>                                                             <!-- Необходимо доработать -->
    <CardCaptureCap>$transaction.cardCaptureCapability</CardCaptureCap>
    <CardDataInputCap>$transaction.cardDataInputCapability</CardDataInputCap>
    <CardDataInputMode>$transaction.cardDataInputMode</CardDataInputMode>
    <CardDataOutputCap>$transaction.cardDataOutputCapability</CardDataOutputCap>
    <CardPresence>$transaction.cardPresence</CardPresence>
    <CrdhAuthCap>$transaction.cardholderAuthCapability</CrdhAuthCap>
    <CrdhAuthEntity>$transaction.cardholderAuthEntity</CrdhAuthEntity>
    <CrdhAuthMethod>$transaction.cardholderAuthMethod</CrdhAuthMethod>
    <CrdhPresence>$transaction.cardholderPresence</CrdhPresence>
    <CardExpDate>$cardData.expDate</CardExpDate>
    <EcommSecLevel></EcommSecLevel>                                                   <!-- Узнать что это -->
    <Mcc>$transaction.mcc</Mcc>
    <MerchantId>$transaction.merchantId</MerchantId>                                  <!-- Пример от банка: "29003001       " -->
    <MsgFunctCode>$transaction.messageFunctionCode</MsgFunctCode>
    <MsgReasonCode>$transaction.messageReasonCode</MsgReasonCode>
    <Mti>$transaction.messageTypeIdentifier</Mti>
    <OperEnv>$transaction.operationalEnvironment</OperEnv>
    <Pan>$cardData.pan</Pan>
    <PinCaptureCap>$transaction.pinCaptureCapability</PinCaptureCap>
    <ProcDate></ProcDate>                                                             <!-- processing date -->
    <RespCode></RespCode>                                                             <!--  response code  -->
    <Rrn></Rrn>                                                                       <!--       rrn       -->
    <Stan></Stan>                                                                     <!--       stan      -->
    <TermDataOutputCap>$transaction.terminalDataOutputCapability</TermDataOutputCap>
    <TermId>$transaction.terminalId</TermId>
    <TranAmnt>$transaction.transactionAmount</TranAmnt>
    <TranCcy>$transaction.transactionCurrency</TranCcy>
    <TranDateTime>$transaction.transactionDate</TranDateTime>                         <!-- format date     -->
    <TranType>$transaction.transactionType</TranType>
    <Tid>$transaction.transactionId</Tid>
    <PaymentNarrative/>
    <MerchantCity>$merchant.merchantCity</MerchantCity>
    <MerchantPostalCode>$merchant.merchantPostalCode</MerchantPostalCode>
    <MerchantCountry>$merchant.merchantCountry</MerchantCountry>
    <MerchantAddr>$merchant.merchantAddress</MerchantAddr>
    <MerchantName>$merchant.merchantName</MerchantName>
</Transaction>
